
.center {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 20vw;
    height: 15vh;
    background-color: #666;
    border: 1px solid black;
}

.display_timer, .timer_buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}